/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/Pops/pop.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.card.image-full {
    position: relative;
}

.card.image-full::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65); /* Grey tint */
    pointer-events: none; /* This prevents the overlay from interfering with clicks */
}

.popup-content {
    max-height: 80vh;  /* Adjust height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
  }
  

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/trip_planner/buttons.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.dropdown {
    position: relative; /* Add this if it's not already there */
  }
  
  
  
